<!DOCTYPE html>
<html lang="en">

<head>
{% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block style %}{% endblock style %} 
  <script src="{% static 'assets\js\jquery-3.6.0.min.js'%}"></script>
  <title>Tourastic Holidays|{% block title %}{% endblock title %}</title>
  <script type="text/javascript">
      var user = "{{ request.user }}";
      function getToken(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          var cookies = document.cookie.split(";");
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)

              );
              break;
            }
          }
        }
        return cookieValue;
      }
      var csrftoken = getToken("csrftoken");

      function getCookie(name) {
        // Split cookie string and get all individual name=value pairs in an array
        var cookieArr = document.cookie.split(";");

        // Loop through the array elements
        for (var i = 0; i < cookieArr.length; i++) {
          var cookiePair = cookieArr[i].split("=");

          /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
          if (name == cookiePair[0].trim()) {
            // Decode the cookie value and return
            return decodeURIComponent(cookiePair[1]);
          }
        }

        // Return null if not found
        return null;
      }
      var cart = JSON.parse(getCookie("cart"));

      if (cart == undefined) {
        cart = {};
        console.log("Cart Created!", cart);
        document.cookie = "cart=" + JSON.stringify(cart) + ";domain=;path=/";
      }
      console.log("Cart:", cart);
    </script>
</head>
<body bgcolor="cyan">
<header>
    <div class="top-header bg-secondary">
      <div class="container">
        <div class="top-nav">

          <ul>
            <li> <i class="fas fa-phone"> </i><a href="tel:8223028910"> +91 1234567890</a></li>
            <li id="email"> <i class="fas fa-envelope"> </i> 
             <a href="mailto:info@tourastic.com">info@tourastic.com</a></li>

          </ul>


          <ul>
          {% if user.is_authenticated %}
              <li>
              <div class="dropdown">
                <a type="button" class="dropdown-toggle" data-toggle="dropdown">
                  Hi,{{user.username}}
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/profile"><i class="fa fa-user-o"> Your Profile</i></a>
                  <a class="dropdown-item" href="/order-history"><i class="fa fa-history" aria-hidden="true"> Order History</i></a>
                  <a class="dropdown-item" href="/saved"><i class="fa fa-heart-o" aria-hidden="true"> Saved</i></a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"> Logout</i></a>
                </div>
              </div>
            </div>
            
            </li>
              {% else %}
              <li>
                <a href="#">
                   <li><a href="" data-toggle="modal" data-target="#modalLRForm" id="loginform"> <i class="fa fa-user" aria-hidden="true"></i>
                login/signup</a></li>
                
              </li>
              {% endif %}
              
  



          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <nav class="navbar navbar-expand-lg flexes">

        <a class="navbar-brand" href="/"><img src="{% static 'assets/images/short-logo.png'%}" height="30"
            class="d-inline-block align-top" alt="mdb logo"></a>

        <a class="navbar-brand" href="/" style="color:rgb(98, 98, 255);">Tourastic</a>



        <button class="navbar-toggler" style="height: auto; width: auto;" type="button" data-toggle="collapse"
          data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <img src="{% static 'assets/images/menu.png'%}" style="width: 30px; height: 30px;" alt="">
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item act">
              <a class="nav-link upper-nav" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tourpackages">Tour Packages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Hotels</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Flights</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/category/blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact-us">Contact us</a>
            </li>
          <li class="nav-item">
                
                <a class="nav-link" href="/cart">
                  <span class="fa-stack" data-count="{{cartitems}}">
                    <i class="fa fa-stack-2x"></i>
                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                  </span>
                </a>  
              </li>
            
          </ul>
        </div>
      </nav>
    </div>


  </header>
  <!-- !header -->
{% comment %} <header>
    <div class="top-header">
        <div class="top-nav">

          <ul>
            <li> <a href=""><i class="fas fa-phone"> </i> +91 1234567890</a></li>
            <li><a href=""><i class="fas fa-envelope"> </i>info@tourastic.com</a></li>

          </ul>


          <ul>

            
 {% if user.is_authenticated %}
              <li>
              <div class="dropdown">
                <a type="button" class="dropdown-toggle" data-toggle="dropdown">
                  Hi,{{user.username}}
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/profile"><i class="fa fa-user-o"> Your Profile</i></a>
                  <a class="dropdown-item" href="/order-history"><i class="fa fa-history" aria-hidden="true"> Order History</i></a>
                  <a class="dropdown-item" href="/saved"><i class="fa fa-heart-o" aria-hidden="true"> Saved</i></a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"> Logout</i></a>
                </div>
              </div>
            </div>
            
            </li>
              {% else %}
              <li>
                <a href="#">
                   <li><a href="" data-toggle="modal" data-target="#modalLRForm" id="loginform"> <i class="fa fa-user" aria-hidden="true"></i>
                login/signup</a></li>
                
              </li>
              {% endif %}
              
  

          </ul>
          
      </div>
    

    <div class="container nav-container bg-secondary">
      <nav class="navbar navbar-expand-lg flexes">

        <a class="navbar-brand" href="/"><img src="{% static  'assets/images/short-logo.png'%}" height="30"
            class="d-inline-block align-top" alt="mdb logo"></a>

        <a class="navbar-brand" href="/" style="color:rgb(98, 98, 255);">Tourastic</a>



        <button class="navbar-toggler" style="height: auto; width: auto;" type="button" data-toggle="collapse"
          data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <div class="lines"></div>
          <div class="lines"></div>
          <div class="lines"></div>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tourpackages">Tour Packages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Hotels</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Flights</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/category/blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact-us">Contact us</a>
            </li>
            
            <!-- <li class="nav-item act">
                <a class="nav-link" href="user-profile.html"><i class="fa fa-user-o" aria-hidden="true"></i></a>
              </li> -->
              <li class="nav-item">
                
                <a class="nav-link" href="/cart">
                  <span class="fa-stack" data-count="{{cartitems}}">
                    <i class="fa fa-stack-2x"></i>
                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                  </span>
                </a>  
              </li>
          </ul>
        </div>
      </nav>
    </div>


</header> {% endcomment %}

    {% block content %} {% endblock %}
    <!--Modal: Login / Register Form-->
  <div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
      <!--Content-->
      <div class="modal-content">

        <!--Modal cascading tabs-->
        <div class="modal-c-tabs">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fas fa-user mr-1"></i>
                Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-user-plus mr-1"></i>
                Register</a>
            </li>
          </ul>

          <!-- Tab panels -->
          <div class="tab-content">
            <!--Panel 7-->
            <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

              <!--Body-->
              <div class="modal-body mb-1">
                <form class="loginform" >
               {% csrf_token %}
                <div class="md-form form-sm mb-5">
                  <i class="fas fa-envelope prefix"></i>
                  <input type="email" id="modalLRInput10" name="email" class="email form-control form-control-sm validate">
                  <label data-error="wrong" data-success="right"  for="modalLRInput10">Your email</label>
                </div>

             
                <div class="md-form form-sm mb-4">
                  <i class="fas fa-lock prefix"></i>
                  <input type="password" id="modalLRInput11" name="password" class="password form-control form-control-sm validate">
                  <label data-error="wrong" data-success="right"  for="modalLRInput11">Your password</label>
                  <div id="errorlogin" style="color:red"></div>
                </div>
                <div class="text-center mb-3">
                  <button type="button" onclick="register()"  class="btn blue-gradient btn-block btn-rounded z-depth-1a">Sign in</button>
                </div>
                </form>
  <h6 style="text-align: center;">or</h6>

                <h6 style="text-align: center; margin-bottom: 10px;">Login with</h6>
          <!-- Grid column -->
          <div class="fed-upper" style="display: flex; justify-content: center; margin-left: 25px;">

            <!-- Facebook -->
            <a class="fb-ic" style="color: navy;">
              <i class="fab fa-facebook-f mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic" style="color: rgb(0, 117, 250);">
              <i class="fab fa-twitter mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic" style="color: rgb(136, 3, 3);">
              <i class="fab fa-google-plus-g mr-4"> </i>
            </a>

          </div>


              </div>
              <!--Footer-->
              <div class="modal-footer">
                <div class="options text-center text-md-right mt-1">
                  <!-- <p>Not a member? <a href="#" class="blue-text">Sign Up</a></p> -->
                  <p><a href="#" data-toggle="modal" data-target="#exampleModal" class="blue-text">Forgot Password?</a>
                  </p>
                </div>
                <button type="button" class="btn btn-outline-info waves-effect ml-auto"
                  data-dismiss="modal">Close</button>
              </div>

            </div>
            <!--/.Panel 7-->

            <!--Panel 8-->
            <div class="tab-pane fade" id="panel8" role="tabpanel">

              <!--Body-->
              <div class="modal-body">
              <form>
              {% csrf_token %} 


                <div class="md-form form-sm mb-5">
                  <i class="fas fa-user prefix"></i>
                  <input  id="firstname" class="form-control form-control-sm validate">
                  <label data-error="wrong" data-success="right" for="modalLRInput12">Your first name</label>
                </div>
                 <div class="md-form form-sm mb-5">
                  <i class="fas fa-user prefix"></i>
                  <input  id="lastname" class="form-control form-control-sm validate">
                  <label data-error="wrong" data-success="right" for="modalLRInput13">Your last name</label>
                </div>
                <div id="name" style="color:red"></div>
                <div class="md-form form-sm mb-5">
                  <i class="fas fa-user prefix"></i>
                  <input  id="username" class="form-control form-control-sm validate">
                  <label data-error="wrong" data-success="right" for="modalLRInput14">create username</label>
                </div>
                  <div id="errorusername" style="color:red"></div>
                <div class="md-form form-sm mb-5">
                  <i class="fas fa-envelope prefix"></i>
                  <input type="email" id="emailadd" class="form-control form-control-sm validate">
                  <label data-error="wrong" data-success="right" for="modalLRInput12">Your email</label>
                 
                </div>
                <div id="erroremail" style="color:red"></div>

                <div class="md-form form-sm mb-5">
                  <i class="fas fa-lock prefix"></i>
                  <input type="password" id="password" class="form-control form-control-sm validate">
                  <label data-error="wrong" data-success="right" for="modalLRInput13">Your password</label>
                </div>

                <div class="md-form form-sm mb-4">
                  <i class="fas fa-lock prefix"></i>
                  <input type="password" id="repeat-password" class="form-control form-control-sm validate">
                  <label data-error="wrong" data-success="right" for="modalLRInput14">Repeat password</label>
                 
                </div>
                <div id="errorpass" style="color:red"></div>
                <div class="text-center form-sm mt-2">
                  <button onclick="signup()" type="button" class="btn btn-info">Register</button>
                </div>
              <div id="errorsignup" style="color:red"></div>
              </form>
              <h6 style="text-align: center;">or</h6>

                <h6 style="text-align: center; margin-bottom: 10px;">Register with</h6>
          <!-- Grid column -->
          <div class="fed-upper" style="display: flex; justify-content: center; margin-left: 25px;">

            <!-- Facebook -->
            <a class="fb-ic" style="color: navy;">
              <i class="fab fa-facebook-f mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic" style="color: rgb(0, 117, 250);">
              <i class="fab fa-twitter mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic" style="color: rgb(136, 3, 3);">
              <i class="fab fa-google-plus-g mr-4"> </i>
            </a>

          </div>
   
              </div>
              <!--Footer-->
              <div class="modal-footer">
                <!-- <div class="options text-right">
                <p class="pt-1">Already have an account? <a href="#panel7" class="blue-text">Log In</a></p>
              </div> -->
                <button type="button" class="btn btn-outline-info waves-effect" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!--/.Panel 8-->
          </div>

        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
  <!--Modal: Login / Register Form-->
  <!-- forget password modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="exampleModalLabel">Reset You're Passward</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
           <form>
           {% csrf_token %}
            <p style="color: seagreen; font-weight: bold;">Passward Reset Link Will Be Send To Your Registered Email
              address... </p><br>
              
            <input type="email" class="emailaddress form-control" id="validationDefault03" required placeholder="Enter Your Email">
          </div>
          <p id="checkemail" style="text-align: center; color: teal; font-weight: bold;"></p>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button> -->
          <button id="sendemaillink" type="button" class="btn btn-primary" onclick="emailsent1()">Send</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  <!-- lforget password modal -->

    <footer class="page-footer font-small unique-color-dark">
      <div style="background-color: #6351ce">
        <div class="container">
          <!-- Grid row-->
          <div class="row py-4 d-flex align-items-center">
            <!-- Grid column -->
            <div
              class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0"
            >
              <h6 class="mb-0">Get connected with us on social networks!</h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 col-lg-7 text-center text-md-right">
              <!-- Facebook -->
              <a class="fb-ic">
                <i class="fab fa-facebook-f white-text mr-4"> </i>
              </a>
              <!-- Twitter -->
              <a class="tw-ic">
                <i class="fab fa-twitter white-text mr-4"> </i>
              </a>
              <!-- Google +-->
              <a class="gplus-ic">
                <i class="fab fa-google-plus-g white-text mr-4"> </i>
              </a>
              <!--Linkedin -->
              <a class="li-ic">
                <i class="fab fa-linkedin-in white-text mr-4"> </i>
              </a>
              <!--Instagram-->
              <a class="ins-ic">
                <i class="fab fa-instagram white-text"> </i>
              </a>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row-->
        </div>
      </div>

      <!-- Footer Links -->
      <div class="container text-center text-md-left mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase font-weight-bold">Tourastic</h6>
            <hr
              class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px"
            />
            <p>
              Tourastic is a private travel agency that provides travel and
              tourism-related services to the general public on behalf of
              accommodation or travel suppliers to offer different kinds of
              travelling packages for each destination.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Quick Links</h6>
            <hr
              class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px"
            />
            <p>
              <a href="/tourpackages">Tour packages</a>
            </p>
            <p>
              <a href="/contact-us">Contact us</a>
            </p>
            <p>
              <a href="#!">Hotels</a>
            </p>
            <p>
              <a href="#!">Flights</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Useful links</h6>
            <hr
              class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px"
            />
            <p>
              <a href="#!">Your Account</a>
            </p>
            <p>
              <a href="#!">Become an Affiliate</a>
            </p>
            <p>
              <a href="#!">Help</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Contact</h6>
            <hr
              class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px"
            />
            <p>
              <i class="fas fa-home mr-3"></i> Railway Station Road, Mandsaur,
              458001
            </p>
            <p><i class="fas fa-envelope mr-3"></i> info@tourastic.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 91 1234567890</p>
            <p><i class="fas fa-print mr-3"></i> + 91 1234567890</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
        © 2021 Copyright:
        <a href="https://tourastic.com/"> Tourastic.com</a>
      </div>
      <!-- Copyright -->
  </footer>




</body>
<!-- custom js -->
<script src="{% static 'assets\js\jquery-3.6.0.min.js'%}"></script>
<script src="{% static 'assets\js\register.js'%}"></script>
<script src="{% static 'assets\js\index.js'%}"></script>
<script src="{% static 'assets\js\tour-demo.js'%}"></script>
<script src="{% static 'assets\js\book.js'%}"></script>
<script src="{% static 'assets\js\changingcurr.js'%}"></script>

{% comment %} <script src="{% static 'assets\js\navigation.js'%}"></script> {% endcomment %}
{% comment %} <script src="{% static 'assets\js\tour-packages.js'%}"></script> {% endcomment %}
<script src="{% static 'assets\js\cart.js'%}"></script>
<script>
 
 
 


$(window).scroll(function () {
     if ($(this).scrollTop() > 150) {
   
          $('.nav-container').addClass("fix-nav");
	  $('body').addClass("fix-body");
     } else {
	  $('.nav-container').removeClass("fix-nav");
	  $('body').removeClass("fix-body");
     }	
});

</script>


<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>

{% block javacsript %}
{% endblock javacsript %}


</html>






